.metadata/*
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.plugins/org.eclipse.core.resources/6.snap
.metadata/.plugins/org.eclipse.core.resources/.history/11/f008d4c1d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/1b/60d72091d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/28/901b1583d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/33/b0b696d7d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/35/801195456b09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/3f/300d15f2d007001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/44/60e34a0b6b09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/46/80aa44b26a09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/4e/a089f230d207001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/60/a0a704f96909001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/76/609c2dc16909001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/7a/e07835c5d007001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/97/c0f472826909001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/ae/a09cff98d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/ae/d0e80f3f6b09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/b0/f064f189d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/b7/00ddb1326b09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/bb/a065624fd107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/c2/609b76aed107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/c8/d0cf5378d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/db/600e42706b09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/e/807f5c836b09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/e5/e072afd06809001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.history/f2/d05b5743d107001b18a29543bb9a5a64
.metadata/.plugins/org.eclipse.core.resources/.history/fe/505134296a09001b1fd199417d38383a
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/.indexes/e4/de/26/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/JavaPrj/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/.indexes/e4/43/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.variables.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jpt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.wikitext.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.oomph.workingsets.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.completion.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.recommenders.models.rcp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tm.terminal.control.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.genericeditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.json.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xsd.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.core.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/FileContentModification.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Program.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1049786334.index
.metadata/.plugins/org.eclipse.jdt.core/1137075507.index
.metadata/.plugins/org.eclipse.jdt.core/1148335230.index
.metadata/.plugins/org.eclipse.jdt.core/1612176504.index
.metadata/.plugins/org.eclipse.jdt.core/1630517331.index
.metadata/.plugins/org.eclipse.jdt.core/1839396771.index
.metadata/.plugins/org.eclipse.jdt.core/1909214787.index
.metadata/.plugins/org.eclipse.jdt.core/2040145959.index
.metadata/.plugins/org.eclipse.jdt.core/2053260946.index
.metadata/.plugins/org.eclipse.jdt.core/2065479124.index
.metadata/.plugins/org.eclipse.jdt.core/2609136135.index
.metadata/.plugins/org.eclipse.jdt.core/307275006.index
.metadata/.plugins/org.eclipse.jdt.core/3125455787.index
.metadata/.plugins/org.eclipse.jdt.core/3355200971.index
.metadata/.plugins/org.eclipse.jdt.core/3442689961.index
.metadata/.plugins/org.eclipse.jdt.core/4089703067.index
.metadata/.plugins/org.eclipse.jdt.core/4144905332.index
.metadata/.plugins/org.eclipse.jdt.core/4221039110.index
.metadata/.plugins/org.eclipse.jdt.core/672839257.index
.metadata/.plugins/org.eclipse.jdt.core/761117274.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JavaPrj/2020/10/41/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/JavaPrj/2020/10/41/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/persnalJavaPrj/2020/10/41/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/persnalJavaPrj/2020/10/41/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/460d9cd431712577fb605acf3cb3eadb/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/460d9cd431712577fb605acf3cb3eadb/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/460d9cd431712577fb605acf3cb3eadb/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/460d9cd431712577fb605acf3cb3eadb/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/.state
.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
.metadata/.plugins/org.tigris.subversion.subclipse.ui/dialog_settings.xml
persnalJavaPrj/.classpath
persnalJavaPrj/.project
persnalJavaPrj/.settings/org.eclipse.jdt.core.prefs
persnalJavaPrj/bin/persnalJavaPrj/FileContentModification.class
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/persnalJavaPrj/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/8.tree
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
/.recommenders/
note/.classpath
note/.project
note/.settings/org.eclipse.jdt.core.prefs
StructuredJavaPrj2/.classpath
StructuredJavaPrj2/.project
StructuredJavaPrj2/.settings/org.eclipse.jdt.core.prefs
GamePrj/.classpath
GamePrj/.project
GamePrj/.settings/org.eclipse.jdt.core.prefs
*.classpath
*.gitignore
*.project
*.springBeans
*.prefs
